<div class="vis">

    <div class="tableWrapper">
        <table id="mytable"></table>
    </div>
    <div class="tableWrapper2">
        <table id="mytable2"></table>
    </div>
    
    <div class="rightPlot" id="plot"></div>
</div>

